/*Website styles */

*{
  font-size: 100%;
  font-family: helvetica, arial
  border: 1px solid red;
  margin: 0;
  line-height: 1;
  box-sizing: content-box;
}
body {
    <body style="background-color:powderblue;">
      color: blue;
  /* font-family: 'Dancing Script', cursive; */
  /* font-weight: bold; */
  margin: 60px;
  background-image: url(images/pattern.jpg);
  background-repeat: no-repeat;
  background-size: 200%
}
h1 {
  color:  red;
  font-size:36px;
  font-style: italic;
  text-align: center
}


h2 {
  color:  gold;
  font-size: 24px;
  font-weight:100;
  font-style: oblique;
  text-align: right;
}
h3 {
  font-size: 18px;
  font-style: normal;
}

header {
  margin-bottom: 20px;
}

section p {
  color: blue;
  font-size: 16pt;
  background-color: white;
  border: 5px solid red;
  margin: 30px;
  padding: 30px;
  width: 80%;
  height: 80%
}
a img {
  width: 50%;
  height: 30px;
}
  .picture2 {
    width: 600px;
  }

.title {
  color: blue;
  font-size: 48px;
  text-decoration: underline;
}
p {
  color: gold;
  font-size:
  30px;
  font-weight: bold;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 30px;
  margin-left: 0;
  padding: 10px;
}

h1, h2, h3 {
  margin-bottom: 20px;
}
ul, ol {
  margin: 15px 0;
}
header,
section,
footer {
  padding: 30px;
}

footer {
  color: black;
  background-color: aqua;
  text-decoration: underline;
  margin: 10px 20px 30px 10px;
}

a:link,
a:focus,
a:active {
  text decoration: underline;
  color: green;
}

a:hover {
  color: red;
  text-decoration: underline;
}

a:visited {
  color: blue;
}
.container {
max-width: 1000px
}
.banner {
  height: 350px;
  background-image: url(images/JPLogo.jpg);
  background-size: 100%;
  background-position: center;
  margin-bottom: 20px;
}
.caption {
  color: black;
  font-weight: bold;
  margin-top: -200px;
  position: relative;
  color: black;
  font-weight: bold;
}
.favorite {
  background color: white;
}
