/*Website styles */

*{
  font-size:100%;
  font-fammily: helvetica, arial
}
body {
  background-color: WhiteSmoke;
  color:  DarkSlateBlue;
  /* font-family: 'Dancing Script', cursive; */
  font-weight: bold;

}

h1 {
  color:  red;
  font-size:36px;
  font-style: italic;
}


h2 {
  color:  green;
  font-size: 18px;
  font-weight:100;
  font-style: oblique;
  text-align: right;
}
h3 {
  font-size: 18px;
  font-style: normal;
}

header {
  color: rbg(44, 44, 44);
/*  background-color: yellow; */
}

section p {
  color: red;
  font-size: 24pt;
  /*background-color: grey; */
}

p {
  color: blue;
  font-size: 24px;
  line-height: 2;
  text-align: right;
}

footer {
  color: black;
  background-color: aqua;
  text-decoration: underline;
}

a:link,
a:focus,
a:active {
  text decoration: underline;
  color: green;
}

a:hover {
  color: red;
  text-decoration: underline;
}

a:visited {
  color: blue;
}
