/*Website styles */
<!DOCTYPE html>
<html>
*{
  font-size: 100%;
  font-family: helvetica, arial

}
body {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold; */
  margin: 40px;
  background-image: url(images/Ahousahtland.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Background image will not move when scrolling */
  background-size: 1820px 900px;
  <head>color:  red;
  font-size:35px;
  font-style: italic;
  text-align: center;
}


h2 {
  color:  gold;
  font-size: 20px;
  font-weight:100;
  font-style: Monotype Corsiva;
  text-align: center;
}
h3 {
  font-size: 18px;
  font-style: normal;
}

header {
  margin-bottom: 20px;
}

p2 {
  color: blue;
  font-size: 16pt;
  background-color: white;
  border: 5px solid red;
  margin: 30px;
  padding: 30px;
  width: 80%;
  height: 80%
}
a img {
  width: 50%;
  height: 30px;
}
  .picture2 {
    width: 600px;
  }

.title {
  color: blue;
  font-size: 48px;
  text-decoration: underline;
}
p {
  color: red;
  font-size:40px;
  font-weight: bold;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 30px;
  margin-left: 0;
  padding: 10px;
}

h1, h2, h3 {
  margin-bottom: 5px;
}
ul, ol {
  margin: 15px 0;
}
header,
section,
footer {
  padding: 30px;
}

footer {
  color: black;
  font-size:20px;
  background-color: aqua;
  margin: 10px 20px 30px 10px;
}

a:link,
a:focus,
a:active {
  text decoration: underline;
  color: green;
}

/* unvisited link */
a:link {
  color: green;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: yellow;
}
}
.container {
  display: flex;
  align-items: center;
  justify-content: center
  }
img {
  max-width: 100%
}
.image {
  flex-basis:40%
  }
  .text {
    font-size: 20%px;
    padding-left: 20px;
  }

.banner {
  height: 350px;
  background-image: url(images/JPLogo2.jpg);
  background-size: 25%;
  background attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}
.caption {
  color: black;
  font-weight: bold;
  margin-top: -200px;
  position: relative;
  color: black;
  font-weight: bold;
}
